<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VueJS Tutorials</title>
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id='vue-app'>
      <h1>{{ greet('night') }}</h1>
      <input type="text" v-bind:value="name"/>
      <p>Job: {{ job }}<p>
      <a v-bind:href="website">The Net Ninja</a>
      <p v-html="websiteTag"></p>
      <h2> Events </h2>
      <h3> Mouse events </h3>
      <button v-on:click.once="add(1)">Add kills</button>
      <button v-on:click="subtract(1)">Subtract kills</button>
      <button v-on:dblclick="add(10)">Add kills</button>
      <button v-on:dblclick="subtract(10)">Subtract kills</button>
      <p> Ninja kills: {{ kills }} </p>
      <div id="canvas" v-on:mousemove="upgradeXY">{{ x }}, {{ y }}</div>

      <a v-on:click.prevent="click" href="https://thenetninja.co.uk"> The Net Ninja </a>

      <h3> Keyboard events </h3>
      <p>
      <label> Name:</label>
      <input type="text" v-on:keyup.enter="logName"/>
      <label> Job:</label>
      <input type="text" v-on:keyup.alt.enter="logJob"/>
      </p>

      <label> Type your weapon:</label>
      <input type="text"/ v-model="weapon">
      <p> {{ weapon }} </p>
      <label> Type your skill:</label>
      <input type="text"/ v-model="skill">
      <p> {{ skill }} </p>

      <button v-on:click='enemies++'>Add enemies</button>
      <button v-on:click='difficulty++'>Add difficulty</button>
      <p>enemies - {{ enemies }}</p>
      <p>difficulty - {{ difficulty }}</p>
      <p>Total + enemies = {{ addToEnemies }}</p>
      <p>Total + difficulty = {{ addToDifficulty }}</p>

    </div>

    <script src="app.js"></script>
  </body>
</html>
